<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<!-- Servlets -->



<servlet>

<servlet-name>greetServlet</servlet-name>

<servlet-class>com.server.GreetingServiceImpl</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>greetServlet</servlet-name>

<url-pattern>/citizen/greet</url-pattern>

</servlet-mapping>
<servlet>

<servlet-name>FileUpload</servlet-name>

<servlet-class>com.server.FileUpload</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>FileUpload</servlet-name>

<url-pattern>/citizen/FileUpload</url-pattern>

</servlet-mapping>

<!-- Default page to serve -->



-<welcome-file-list>

<welcome-file>Citizen.html</welcome-file>

</welcome-file-list>

</web-app>